nav div.container {
  padding-bottom: 0;
}

a.navbar-brand {
  font-size: 40px;
}

a.nav-link {
  font-size: 20px;
}

a.nav-link.active {
  color: white !important;
  background-color: black !important;
}
