div.about-me p {
  color: lightgrey;
  font-size: 24px;
  padding-top: 1.5rem;
  padding-left: 6rem;

  line-height: 3rem;
  text-align: justify;
  text-indent: 3rem;
}

div.profile {
  padding: 0;
}

div.about-me img {
  padding-top: 3rem;
}

@media (max-width: 576px) {
  div.about-me p {
    padding-top: 1rem;
    padding-left: 0;
    line-height: 2rem;
  }
  div.about-me img {
    padding-top: 1rem;
  }
}
