#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
}

p {
  color: lightgrey;
  font-size: 24px;
  padding-top: 1.5rem;
  padding-left: 6rem;

  line-height: 3rem;
  text-align: justify;
  text-indent: 3rem;
}

div.profile {
  padding: 0;
}

img#profile {
  padding-top: 3rem;
}

@media (max-width: 576px) {
  p {
    padding-top: 1rem;
    padding-left: 0;
    line-height: 2rem;
  }
  img#profile {
    padding-top: 1rem;
  }
}
